<% provide(:title, @user.username) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.username %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <% if @user.stories.any? %>
      <h3>Stories (<%= @user.stories.count %>)</h3>
      <ol class="microposts">
        <%= render @stories %>
      </ol>
      <%= will_paginate @stories %>
    <% end %>
  </div>
</div>
